@use 'colors';

*, :after, :before { box-sizing: border-box; }
html{
    box-sizing:border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$spacer: 20px;
$font-special:Merriweather, sans-serif;



body{
    background-color: black;
    margin:0;
    padding:0;
    position:relative;

}
   h1 , h2 , h3 {
    
    font-family: $font-special;
    text-align: center;
    margin: 0;
    padding: 0;
}
  