@use 'colors';
@use 'basic';


.firmaleistungen{
    background-image: url('/images/musterneu1.png');
    background-size: 100%;
    background-repeat: no repeat;
    background-position: center;
    
    width:80%;
    text-align: center;
    margin:0 auto;
    padding:20px;
    border-radius: basic.$spacer;
    margin-bottom:10px;
    box-shadow: gainsboro 0px 1px 7px 1px;
    

}
.inhaber{
    
    width:100%;
    height: auto;
    text-align: center;
    object-fit: cover;
    margin: 0 auto;
    margin-top:5px;
   
    }
    .hintergrund{
        display:block;
        width:80%;
        height:auto;
        object-fit: cover;
        text-align:center;
        margin:0 auto;
        border-radius: basic.$spacer;
        margin-bottom:5px;
        margin-top:5px;

        
       
        
   
    }
    .firmaleistungen1{
     background-image: url('/images/musterneu1.png');
     background-size: 40%;
     background-repeat: no repeat;
     background-position: center;

        display:flex;
        text-align: center;
    justify-content: space-between;
    gap:10px;
    width:100%;
    background-color:colors.$primary;
    margin: 0 auto ;
    border-radius: basic.$spacer;
    margin-top:5px;
    box-shadow: gainsboro 0px 1px 7px 1px;

    }

    
    .kevin , .david {
        
        text-align: center;
        margin:0 auto;
        padding:5px;
        border-radius: basic.$spacer;
        
        
    }
      
    .boxkevindavid{
        display:none;
    }