
@use 'basic';

@use 'colors';
@use 'header';
@use 'menufirst';
@use 'glidegalerie';
@use 'kontakt';
@use 'menutwo';
@use 'profilphoto';
@use 'footer';
@use 'formular';
@use 'work';
// SCSS Variables


 /*@media screen and (min-width: 600px) {
    .firmaleistungen{
        display: grid;
      grid-template-columns: repeat 3 (200px 200px 200px);
      grid-template-rows:repeat  (200px 200px 200px);
      align-items: center;
      gap: basic.$spacer;
      justify-items:center;

        
    }
    .firmaleistungen{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .work  {
       max-width:100%;
       height: auto;
       object-fit:cover;

    }*/


    .hintergrund {
        padding-right:20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
       
        align-items: center;
        margin:0 auto;
    }


@media screen and (min-width: 600px){
    .menu ul {
        display:flex;
        justify-content: space-around;

    }
}


 




    


