<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K&D Raumaustatter Feldkirch</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <img class="logo" src="images/logo.jpg" alt="Firmenlogo">
   

  <nav class="menu">
			<ul>
				<li><a href="#">Über uns</a></li>
				<li><a href="#">Leistungen</a></li>
				<li><a href="/galerie">Galerie</a></li>
				<li><a href="#">Kontakt</a></li>
                <li><a href="#">Angebot</a></li>
			</ul>
		</nav>
 </header>


 <main>
    {{ content | safe }}

   </main>

<footer>
    <p>© 2025 </p>
  <p>K&D Raumaustatter</p>
</footer>
</body>
</html> 