<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
<link rel="shortcut icon" href="/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="ZweiGestalten" />
<link rel="manifest" href="/icons/site.webmanifest" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZWEI GESTALTEN </title>
   <link rel="stylesheet" href="/css/style.css">

   <link rel="stylesheet" href="/css/glide.core.min.css">
	<link rel="stylesheet" href="/css/glide.theme.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="phone-number">
            <a href="/kontakt"> 
            <img class="phoneicon" src="/images/phoneicon.png" alt="Telefon Icon"></a>
        

        </div>

        <div>
        <img class="logo" src="/images/logo.jpeg" alt="Firmenlogo">
        </div>

          <div class="boxtext">
        <p> „Aus einer langjährigen Freundschaft zweier Handwerker ensteht ein starkes Unternehmen.
        Raumaustatter und Bodenleger bündeln ihre Erfahrung, ihr Können und ihre Leidenschaft für 
        Qualität. ZWEI GESTALTEN, ein Weg- für Räume, die Bestand haben.“ 
        </p>
      
        </div>

  <nav class="menu">
			<ul>
				<li><a href="/">Über uns</a></li>
				<li><a href="/leistungen">Leistungen</a></li>
				<li><a href="/galerie">Galerie</a></li>
				<li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/anfrage">Anfrage senden</a></li>
             
			</ul>
		</nav>
 </header>


 <main>
    {{ content | safe }}

   </main>


  <nav class="footer-menu">
    <ul>
         <li><a href="/impressum">Impressum <br> <a href="/datenschutz">Datenschutz&Cookies </a></a></li>
    </ul>
    </nav>
    <footer>
    <p>© 2025 </p>
  <p> ZWEI GESTALTEN </p>
  
</footer>
</body>
</html> 