<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K&D Raumaustatter Feldkirch</title>
   <link rel="stylesheet" href="/css/style.css">

   <link rel="stylesheet" href="/css/glide.core.min.css">
	<link rel="stylesheet" href="/css/glide.theme.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="phone-number">
            <a href="+43 123 456789"> Tel.Nummer +43 123 456789</a>
        </div>
        <img class="logo" src="/images/logo.jpg" alt="Firmenlogo">
   

  <nav class="menu">
			<ul>
				<li><a href="/">Über uns</a></li>
				<li><a href="/leistungen">Leistungen</a></li>
				<li><a href="/galerie">Galerie</a></li>
				<li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/anfrage">Anfrage senden</a></li>
			</ul>
		</nav>
 </header>


 <main>
    {{ content | safe }}

   </main>

<footer>
    <p>© 2025 </p>
  <p>K&D Raumaustatter</p>
</footer>
</body>
</html> 